body {
    margin: 0;
    font-family: Arial;
    background: #fafafa;
}

.header {
    background: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 80px;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: auto;
    margin-top: 30px;
}

h1, h2 {
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin: 6px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 140px;
    background: #32a8d8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.forgot {
    display: block;
    margin-top: 15px;
    color: #32a8d8;
    text-decoration: none;
}

ul {
    margin-top: 5px;
}

.recorda {
    margin-top: 25px;
}
