body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef1f7;
}

/* LOGIN */
.login-container {
    background: white;
    width: 350px;
    margin: 120px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #aaa;
    text-align: center;
}

.login-container input {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #ccc;
}

.login-container button {
    width: 95%;
    padding: 10px;
    background: #00408a;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

/* PANEL */
.header {
    width: 100%;
    background: #002856;
    color: white;
    padding: 10px;
}

.sidebar {
    width: 210px;
    height: 100vh;
    background: #123c8a;
    padding: 20px;
    float: left;
    color: white;
}

.sidebar p {
    margin-bottom: 16px;
    border-bottom: solid 1px rgba(255,255,255,0.5);
    padding-bottom: 6px;
    cursor: pointer;
}

.main {
    margin-left: 260px;
    padding: 20px;
}

.materia {
    background: white;
    padding: 15px;
    margin-bottom: 18px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #bbb;
}
